@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LeferiBaseType-RegularA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiBaseType-RegularA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "LeferiBaseType-RegularA";
}
body {
  margin: 0;
  font-family: "LeferiBaseType-RegularA";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
