/* tailwind 설정 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 폰트설정 */
@font-face {
  font-family: "LeferiBaseType-RegularA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiBaseType-RegularA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "LeferiBaseType-RegularA";
}

body {
  background-color: rgba(129, 107, 255, 0.05);
  margin: 0;
  font-family: "LeferiBaseType-RegularA";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 스크롤바 보이지 않게 설정 */
body,
textarea {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
